.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 8px;
    padding: 0 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: flex-end;
    color: cyan;
    font-weight: bold;
    box-sizing: border-box;
  }
  